.show-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.show-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.show-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.show-card div {
    font-size: 1rem;
    margin-bottom: 8px;
}

.show-card p {
    margin-bottom: 16px;
}

.listing-contact-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}