:root {
    --primary-color: #CBF1F5;
    --secondary-color: #A6E3E9;
    --tertiary-color: #3490dc;
    --text-color: #001a1c;
    background-color: var(--primary-color);
}

/* Listing */

.header {
    font-weight: bold;
    font-size: x-large;
}

.listing-card {
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    width: 90%;
    margin: 20px;

}

.list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
}

.listing-details {
    padding: 20px;
    text-align: left;
    width: 50%;

}

.listing-image {
    width: auto;
    height: auto;

}

@media (max-width: 500px) {
    .listing-image {
        display: none;
    }
}

/* Tags */
.tags-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.tag {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.tag:hover {
    background-color: var(--secondary-color);
}

.error-text {
    color: red;
}

/* Layout */

.layout {
    border-bottom: 2px solid var(--secondary-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-title {
    font-size: 3rem;
}

.logo {
    height: 10vh;
    width: auto;
}

footer {

    display: flex;
    justify-content: end;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.flash-message {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10vh;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.text-link-hover:hover {
    color: var(--tertiary-color);
}

.layout-container {
    display: flex;
    flex-direction: column;
}



/* Search */
.search-container {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: 20px auto;
    background-color: #ffffff;
    border: 2px solid #e2e8f0;
    border-radius: 4px;
    padding: 8px;
}

.search-icon {
    padding: 8px;
    color: #999999;
}

.search-input {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 1rem;
    outline: none;
}

.search-button {
    padding: 8px;
}

.button {
    background-color: #3490dc;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-red {
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2779bd;
}

.search-icon:hover {
    color: #666666;
}

.search-icon:focus-within {
    color: #666666;
}

@media (max-width: 420px) {
    .button {
        visibility: hidden;
    }
}

.text-link {
    color: var(--tertiary-color);
}

/* Create Form */
.listing-section {
    margin: 1rem;

}

.listing-section-bottom {
    margin-bottom: 10vh;
    margin-left: 1rem;
}

.question-header {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.question-box {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Profile */

.profile-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.profile-header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}

.profile-header h1 {
    font-size: 2em;
    font-weight: bold;
}

.profile-section {
    display: flex;
    width: 100%;

    justify-content: space-evenly;
    text-align: left;
    gap: 10vw;
}

.profile-info {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.profile-image {
    max-width: 25vw;
    width: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* My Jobs */
.table {
    display: flex;
    width: 80%;
    margin: 20px 10vw;
}

.table-row {
    padding: 200px;
    border-bottom: 2px solid var(--secondary-color);
}

/* Admin */
.admin-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10vh;
}